<!DOCTYPE html>
<html>
<head>

<title>DocShare</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<header>

<h2>DocShare</h2>

</header>

<div class="container">

<h1>Secure Upload</h1>

<p>Select documents to encrypt and share</p>

<div class="upload-box">

<input type="file" id="fileInput">

<p>Drag and Drop Documents</p>

<button onclick="uploadFile()">Browse Files</button>

</div>

<button class="qr-btn" onclick="generateQR()">
Generate QR
</button>

</div>

<script src="/static/js/script.js"></script>

</body>
</html>